In [1]:
# 파이썬 input(입력)
# string(문자열)로 입력값 반환
input_value = input("Message")
#1111이 입력값

Message 1111

In [2]:
print("input value:", input_value, "\ntype:", type(input_value))

input value: 1111
type: <class 'str'>

In [3]:
input_value = int(input_value)
print("input_value:", input_value, "\ntype:", type(input_value))

input_value: 1111
type: <class 'int'>

In [4]:
input_value2 = input("정수 외에 다른 값을 입력해보세요.")
print(input_value2)
#1.1입력값

정수 외에 다른 값을 입력해보세요. 1.1

1.1

In [5]:
input_value2 = float(input_value2)
print(input_value2)

1.1

In [6]:
input_value2 = int(input_value2)
print(input_value2)

1

In [7]:
input_value4 = int(input("정수를 입력해주세요:"))
print(input_value4) #실수를 입력하면 아래와 같이 오류가 뜸

정수를 입력해주세요: 12.3

ValueError: invalid literal for int() with base 10: '12.3'

In [8]:
#연습문제
#사용자의 이름을 물어보고 이어서 2개의 정수를 받아서 덧셈을 한 후 결과를 출력하는 프로그램을 작성하시오.

x = input("이름을 입력하시오.")
print(x, "씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.")

y = int(input("첫 번째 정수를 입력하세요:"))
z = int(input("두 번째 정수를 입력하세요:"))
print(y,"과", z, "의 합은", y+z, "입니다.")
#엔코아, 300, 400이 입력값

이름을 입력하시오. 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [9]:
#사용자에게 경기장, 점수, 이긴 팀, 진 팀,
#우수 선수를 질문하고 변수에 저장합니다.
#이들 문자열에 문장을 붙여서 기사를 작성해봅시다.

a1 = input("경기장은 어디입니다까?")
a2 = input("이긴 팀은 어디입니가?")
a3 = input("진 팀은 어디입니까?")
a4 = input("우수 선수는 누구입니까?")
a5 = input("스코어는 몇대몇입니까?")
#고척, KT, LG, 강백호, 10:9 가 입력값

print("[속보] ", a2, "가", a5, "로 승리...\n오늘", 
      a1, "경기장에서 야구 경기가 있었습니다.\n", 
      a2, "와", a3, "는 치열한 공방전을 펼쳤습니다.\n이 경기에서", 
      a4, "가 맹활약을 했습니다.\n그 끝내", a3,
      "가", a2,"를", a5, "로 승리하였습니다.\n기사 끝.")

경기장은 어디입니다까? 고척
이긴 팀은 어디입니가? KT
진 팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보]  KT 가 10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
 KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다.
그 끝내 LG 가 KT 를 10:9 로 승리하였습니다.
기사 끝.

In [10]:
a6 = ("[속보] " + a2 + "가 " + a5 + "로 승리...\n"+
    "오늘 " +a1 + "경기장에서 야구 경기가 있었습니다.\n" + 
    a2 + "와 " + a3 + "는 치열한 공방전을 펼쳤습니다.\n" +
    "이 경기에서 " + a4 +  "가 맹활약을 했습니다.\n" +
    "그 끝내 " + a3 + "가 " + a2 +"를 " + a5 + "로 승리하였습니다.\n"+ 
    "기사 끝.")
print(a6)

[속보] KT가 10:9로 승리...
오늘 고척경기장에서 야구 경기가 있었습니다.
KT와 LG는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호가 맹활약을 했습니다.
그 끝내 LG가 KT를 10:9로 승리하였습니다.
기사 끝.

In [11]:
print("[속보] ", a2, "가", a5, "로 승리...\n오늘", 
      a1, "경기장에서 야구 경기가 있었습니다.\n", 
      a2, "와", a3, "는 치열한 공방전을 펼쳤습니다.\n이 경기에서", 
      a4, "가 맹활약을 했습니다.\n그 끝내", a3,
      "가", a2,"를", a5, "로 승리하였습니다.\n기사 끝.", sep = "")
#입력값 사이 공백 없애기

[속보] KT가10:9로 승리...
오늘고척경기장에서 야구 경기가 있었습니다.
KT와LG는 치열한 공방전을 펼쳤습니다.
이 경기에서강백호가 맹활약을 했습니다.
그 끝내LG가KT를10:9로 승리하였습니다.
기사 끝.

In [12]:
#입력 값을 여러 개의 변수에 저장하기
result = '1,2,3'.split(",")
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [13]:
time_input = input("hh:mm:ss의 형태로 시간을 입력해주세요").split(":")
print("\n실행결과:\n시 :", time_input[0], "\n분 :", time_input[1],
      "\n초 :", time_input[2])
#12:33:23이 입력값

hh:mm:ss의 형태로 시간을 입력해주세요 12:33:23

실행결과:
시 : 12
분 : 33
초 : 23

In [14]:
h,m,s = input("hh:mm:ss의 형태로 시간을 입력해주세요").split(":")

print("시 :", h)
print("분 :", m)
print("초 :", s)

hh:mm:ss의 형태로 시간을 입력해주세요 12:33:23

시 : 12
분 : 33
초 : 23