In [1]:
import pandas as pd
import numpy as np

In [2]:
# DataFrame은 pandas의 주요 데이터 구조
# label된 row와 column, 두개의 축을 갖는 데이터 구조

# 산술 연산은 row와 column 모두 적용
# Series 객체를 갖는 dictionary와 비슷하다고 여기면 됨

# class pandas.DataFrame(data = None, index = None, columns = None,
#                        dtype = None, copy = None)

# 첫 인자로 data, 두번째 인자로 index를 전달
# DataFrame은 각 column마다 자료형이 다를 수 있다.

# DataFrame 생성

In [3]:
# Series가 1차원 벡터에 행방향 index(row index)를 붙얐다면,
# DataFrame 클래스는 2차원 행렬 데이터에 index를 붙인 것

# row index와 column index 각각의 이름 붙이기 가능

# DataFrame 만드는 방법
# 1. 우선 하나의 열이 되는 데이터를 리스트나 일차원 배열을 준비
# 2. 이 각각의 열에 대한 이름(label)을 키로 가지는 딕셔너리 생성
# 3. 이 데이터를 DataFrame 클래스 생성자에 넣는다.
# 동시에 열방향 index는 columns 인수로, 행방향 index는 index인수로 지정

In [4]:
d = {'coll' : [1, 2], 'col2' : [3, 4]}
df = pd.DataFrame(data = d)
df

   coll  col2
0     1     3
1     2     4

In [5]:
# 좀 더 큰 스케일의 데이터
data = {
    "2015" : [9904312, 3448737, 2890451, 2466052],
    "2010" : [9631482, 3393191, 2632035, 2431774],
    "2005" : [9762546, 3512547, 2517680, 2456016],
    "2000" : [9853972, 3655437, 2466338, 2473990],
    "지역" : ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율" :[0.0283, 0.0163, 0.0982, 0.0141]
}

columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index = index, columns = columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [6]:
df.dtypes # 각 column별 dtype을 보여준다.

지역                object
2015               int64
2010               int64
2005               int64
2000               int64
2010-2015 증가율    float64
dtype: object

In [7]:
df.values # 데이터만 접근

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [8]:
df.columns # 열 이름 목록 보여주기

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [9]:
df.index # 행 이름 목록 보여주기

Index(['서울', '부산', '인천', '대구'], dtype='object')

# DataFrame 이름 붙이기

In [10]:
df.index.name = "도시"
df.columns.name = "특성"
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

# DataFrame 전치(Transpose)

In [11]:
df.T

도시                  서울       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

# DataFrame column 추가, 갱신, 삭제

## DataFrame column 갱신

In [12]:
# "2010-2015 증가율"이라는 이름의 열의 값을 갱신
df["2010-2015 증가율"] = df["2010-2015 증가율"] * 100
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

## DataFrame column 추가

In [13]:
# "2005-2010 증가율"이라는 이름의 열 추가
df["2005-2010 증가율"] = ((df["2010"] - df["2005"]) / df["2005"] * 100).round(2)
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83          -1.34
부산  경상권  3448737  3393191  3512547  3655437           1.63          -3.40
인천  수도권  2890451  2632035  2517680  2466338           9.82           4.54
대구  경상권  2466052  2431774  2456016  2473990           1.41          -0.99

## DataFrame column 삭제

In [14]:
# "2010-2015 증가열"이라는 이름의 열 삭제
del df["2010-2015 증가율"]
df

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

# DataFrame column 인덱싱

In [15]:
# index로 label 값을 하나만 넣으면 Series 객체 반환
df["지역"]

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [16]:
# index로 label 값을 하나의 column만 넣으면 Series 객체 반환
df["2010"]

도시
서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [17]:
# label의 배열 또는 리스트로 인덱싱하면 DataFrame 타입 반환
df[["2010", "2015"]]

특성     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [18]:
# column만 빼내더라도 DataFrame 자료형을 쓰고 싶다면
# 하나의 리스트 자료형을 사용해서 인덱싱하면 된다.
df[["2010"]]

특성     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

In [19]:
type(df[["2010"]])

pandas.core.frame.DataFrame

In [20]:
# DataFrame의 column index가 문자열 label일 때는 순서를 나타내는 정수
# index를 column 인덱싱에 사용할 스 없다.
# column index가 문자열인데 정수 index를 넣으면
# KeyError 오류가 발생
df[0]

KeyError: 0

In [21]:
# 원래부터 문자열이 아닌 정수형 column index를 가지는 경우에
# index 값으로 정수 사용 가능
df2 = pd.DataFrame(np.arange(12).reshape(3, 4))
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

# DataFrame row 슬라이싱

In [22]:
# 만약 row 단위로 인덱싱을 하고자 하면
# 항상 슬라이싱(slicing)을 해야 한다.
# index의 값이 문자 label이면 label 슬라이싱도 가능

In [23]:
df

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

In [24]:
df[:1] # df[:"서울"] → 끝 범위는 문자는 포함, 숫자는 미포함

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34

In [25]:
df[1:2]

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
부산  경상권  3448737  3393191  3512547  3655437           -3.4

In [26]:
df["부산":"부산"] # 1줄을 보기 위해 다시 부산을 시작값과 끝값 지정

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
부산  경상권  3448737  3393191  3512547  3655437           -3.4

In [27]:
# row단위로 인덱싱을 하면 KeyError 발생
df["서울"]

KeyError: '서울'

# DataFrame 개별 데이터 인덱싱

In [28]:
# DataFrame에서 column label로 인덱싱하면 Series
# 이 Series를 다시 row label로 인덱싱하면 개별 데이터
df["2015"]["서울"]

9904312

In [29]:
type(df["2015"]["서울"])

numpy.int64

## DataFrame 개별 데이터 인덱싱 순서 배치(column-row가 아닌 row-column)

In [30]:
# row 단위로 먼저 인덱싱하려면 슬라이싱 이후에 해야 해서 비효율적
df["서울":"서울"]

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34

In [31]:
df["서울":"서울"]["2015"]

도시
서울    9904312
Name: 2015, dtype: int64

In [32]:
type(df["서울":"서울"]["2015"])

pandas.core.series.Series

# DataFrame 인덱싱과 슬라이싱 정리

In [33]:
result = {"가능 여부" : ["O", "O", "X", "O"],
          "결과" : ["열", "열", "", "행"],
          "자료형" : ["Series", "DataFrame", "", "DataFrame"],
          "비고" : ["", "", "column label이 문자인 경우는 불가능하지만 정수인 경우는 가능하다.", ""]
         }

index = ["label", "label list", "index(int)", "slicing(int)"]

result_pd = pd.DataFrame(result, index = index)
result_pd.index.name = "인덱싱 값"
result_pd

             가능 여부 결과        자료형                                          비고
인덱싱 값
label            O  열     Series
label list       O  열  DataFrame
index(int)       X                column label이 문자인 경우는 불가능하지만 정수인 경우는 가능하다.
slicing(int)     O  행  DataFrame