In [1]:
n = int(input("시작하는 정수를 입력"))
m = int(input("끝나는 정수 입력"))
# 입력값은 4, 7
res = 0

for i in range(n, m+1):
    if i%2 == 0:
        res += i**2        

print(f"{n}부터 {m}사이의 짝수 제곱의 합은 {res}입니다.")

시작하는 정수를 입력 4
끝나는 정수 입력 7

4부터 7사이의 짝수 제곱의 합은 52입니다.

In [2]:
n = int(input("시작하는 정수를 입력"))
m = int(input("끝나는 정수 입력"))
res = 0
i = n

while i<m:
    if i % 2 == 0:
        res += i**2
    i += 1
    

print(f"{n}부터 {m}사이의 짝수 제곱의 합은 {res}입니다.")

시작하는 정수를 입력 4
끝나는 정수 입력 7

4부터 7사이의 짝수 제곱의 합은 52입니다.

In [3]:
res = 0
for i in range(1, 1000):
    if i % 3 == 0 or i % 5 == 0:
        res += i
        
print(f"결과는 {res}입니다.")

결과는 233168입니다.

In [4]:
res = 0
i = 1
while i < 1000:
    if i % 3 == 0 or i % 5 == 0:
        res += i
    i += 1
        
print(f"결과는 {res}입니다.")

결과는 233168입니다.

In [5]:
lis1 = list(map(int, input("실기점수를 입력하세요 :").split()))
# 입력값은 70 50 85 98 82
res = 0
large = 0
small = 100

for i in lis1:
    res += i
print(res)

for i in lis1:
    if i > large:
        large = i
print(large)

for i in lis1:
    if i < small:
        small = i
print(small)


final = (res -(large + small))/(len(lis1)-2)
print(f"이 학생의 평균점수는 {final}입니다.")

실기점수를 입력하세요 : 70 50 85 98 82

385
98
50
이 학생의 평균점수는 79.0입니다.

In [6]:
scores = [86, 72, 98, 60, 45]
grade_counter = [0, 0, 0, 0, 0]

for i in scores:
    if 85 <= i <= 100:
        grade_counter[0] += 1 # A학점
    elif 70 <= i <= 84:
        grade_counter[1] += 1 # B학점
    elif 55 <= i <= 69:
        grade_counter[2] += 1 # C학점
    elif 40 <= i <= 54:
        grade_counter[3] += 1 # D학점
    else :
        grade_counter[4] += 1 # E학점
        
print(grade_counter)

[2, 1, 1, 1, 0]

In [7]:
lis2 = [i for i in range(1,101)]
for i in lis2:
    if i % 15 == 0:
        i = "FizzBuzz"
        print(i, end = "\t")
    elif i % 3 == 0:
        i = "Fizz"
        print(i, end = "\t")
    elif i % 5 == 0:
        i = "Buzz"
        print(i, end = "\t")
    else:
        print(i, end = "\t")

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [8]:
name_list = ['matthew', 'mark', 'luke', 'john', 'paul', 'peter']
count = 0
for i in name_list:
    if 'h' in i or 'm' in i:
        count += 1
print("m 또는 h 가 이름에 포함된 사람은", count ,"명 입니다.")

m 또는 h 가 이름에 포함된 사람은 3 명 입니다.

In [9]:
name_list = ['matthew', 'mark', 'luke', 'john', 'paul', 'peter']
count = 0
for name in name_list:
    for n in name:
        if n == 'h' or n == 'm':
            count += 1
            break
print("m 또는 h 가 이름에 포함된 사람은", count ,"명 입니다.")

m 또는 h 가 이름에 포함된 사람은 3 명 입니다.

In [10]:
marks = [90, 25, 67, 45, 80]

for i in range(1,len(marks)+1):
    if marks[i-1] > 60:
        print(f"{i}번 학생 축하합니다. 합격입니다.")

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [11]:
marks = [90, 25, 67, 45, 80]
number = 0

for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print(f"{number}번 학생 축하합니다. 합격입니다.")

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [12]:
marks = [90, 25, 67, 45, 80]
i = 0

while i < len(marks):
    i += 1
    if marks[i-1] < 60:
        continue    
    print(f"{i}번 학생 축하합니다. 합격입니다.")

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [13]:
arr = [1,4,2,3]
left, right = 0, len(arr) -1

while left < (len(arr) // 2): # arr 리스트의 절반보다 작을 경우
    arr[left], arr[right] = arr[right], arr[left]
    left += 1
    right -= 1
    
print("변환된 arr은", arr, "입니다")

변환된 arr은 [3, 2, 4, 1] 입니다

In [14]:
arr = [1,4,2,3]
left, right = 0, len(arr) -1

while left < right:
    arr[left], arr[right] = arr[right], arr[left]
    left += 1
    right -= 1
    
print("변환된 arr은", arr, "입니다")

변환된 arr은 [3, 2, 4, 1] 입니다