In [1]:
import pandas as pd
import numpy as np

# Series의 값이 많은 경우

In [2]:
nums = pd.Series(range(500))
nums # ㆍㆍㆍ이란 표시는 생략되었다는 의미

0        0
1        1
2        2
3        3
4        4
      ...
495    495
496    496
497    497
498    498
499    499
Length: 500, dtype: int64

# Series head() 메서드

In [3]:
# head() 메서드는 앞부터 출력할 데이터의 개수 지정
nums.head() # 디폴트는 5개

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [4]:
nums.head(10) # 괄호 안에 숫자를 넣어서 출력할 데이터 개수 지정 가능

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

# Series tail() 메서드

In [5]:
# tail() 메서드는 맨 뒤에서부터 출력할 데이터의 개수 지정
nums.tail() # 디폴트는 5개

495    495
496    496
497    497
498    498
499    499
dtype: int64

In [6]:
nums.tail(10) # head()와 같은 방식으로 괄호 안에 숫자를 넣어서
              # 출력할 데이터 개수 지정 가능

490    490
491    491
492    492
493    493
494    494
495    495
496    496
497    497
498    498
499    499
dtype: int64

# Series 수학 연산

In [7]:
nums = pd.Series([1, 2, np.nan, 4, 5])
nums # np.nan에 의해 float으로 자료형 통일

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

## Series 수학 연산 nunique() 메서드

In [8]:
# nunique() 메서드는 고유한 값의 개수를 계산할 때 사용
# 아래 예제에서 'h','e','l','l','o'의 값을 갖는 Series 객체에서
# 고유한 값인 'h', 'e', 'l', 'o'에 대한 개수를 구해준다.

hello = pd.Series(list("hello"))
hello

0    h
1    e
2    l
3    l
4    o
dtype: object

## Series 수학 연산 count() 메서드

In [9]:
# count() 메서드는 데이터의 개수를 계산한다.
# 이 때 NaN인 값에 대해서는 개수에 포함시키지 않는다.

# len()은 그와 별개로 전체 길이를 알려준다.
nums

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [10]:
nums.count()

4

In [11]:
len(nums)

5

## Series 수학 연산 sum() 메서드

In [12]:
# sum() 메서드는 Series에 있는 데이터를 모두 더한다.
# 대부분의 수학 연산과 관련된 메서드는 결측치를 포함하지 않고 계산

# 이는 skipna 파라미터의 기본 값이 True이기 때문이다.
# skipna의 값을 False로 전달하면 결측값을 포함한 계산 결과가 나온다.
nums

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [13]:
nums.sum()

12.0

In [14]:
nums.sum(skipna = False)

nan

## Series 수학 연산 mean(), median(), std() 메서드

In [15]:
# mean()은 평균
# median()은 중앙값
# std()는 표준편차
nums

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [16]:
nums.mean()

3.0

In [17]:
nums.median()

3.0

In [18]:
nums.std()

1.8257418583505538

## Series 수학 연산 max(), min() 메서드

In [19]:
# max()는 Series에서 가장 큰 값 검색
# min()는 Series에서 가장 작은 값 검색
nums

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [20]:
nums.max()

5.0

In [21]:
nums.min()

1.0

### 문자에 대한 max(), min()메서드

In [22]:
# Series의 값이 문자인 경우도 최대값과 최소값을 구할 수 있다.

# ord() 함수는 하나의 문자를 Unicode 숫자로 변경
# 그 크기를 통해 최대값과 최소값 검색

somechar = pd.Series(list("AaBbCc"))
somechar

0    A
1    a
2    B
3    b
4    C
5    c
dtype: object

In [23]:
somechar.max()

'c'

In [24]:
somechar.min()

'A'

In [25]:
ord('a')

97

In [26]:
ord('A')

65

## Series 수학 연산 describe() 메서드

In [27]:
# describe() 메서드는 수치 값을 갖는 Series에 대해
# count, mean, std, min, 25%, median(50%), 75%, max에 대한
# 모든 통계를 구해준다.
nums

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [28]:
nums.describe()

count    4.000000
mean     3.000000
std      1.825742
min      1.000000
25%      1.750000
50%      3.000000
75%      4.250000
max      5.000000
dtype: float64

In [29]:
# object 값을 갖는 Series에 대해서는 데이터 수인 count,
# 고유한 값의 수인 unique, 최빈 값 top, 
# 최빈 값의 빈도 freq에 대한 값을 구해준다.
hello

0    h
1    e
2    l
3    l
4    o
dtype: object

In [30]:
hello.describe()

count     5
unique    4
top       l
freq      2
dtype: object

# Series의 변환

In [31]:
# Series는 파이썬의 기본 자료구조로 변경 가능

nums

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [32]:
# list() 함수를 사용하여 nums에 담긴 Series 객체를 list 객체로 변경함
list(nums)

[1.0, 2.0, nan, 4.0, 5.0]

In [33]:
# dict() 함수를 사용하여 nums Series 객체를 닥셔너리 객체로 변환
# Series의 index는 dict의 key가 되고,
# Series의 value는 dict의 values가 된다.
dict(nums)

{0: 1.0, 1: 2.0, 2: nan, 3: 4.0, 4: 5.0}

# CSV 파일을 Series로 데이터 읽어오기

In [34]:
# index와 values로 사용된 두 컬럼만으로 구성된
# CSV 파일은 Series로 읽어올 수 있다.

# 이때 index_col이란 매개변수로 인덱스로 사용할 Column의 이름을 지정해주고,
# squeeze라는 매개변수에 True 값을 전달해야 한다.

# squeeze 메서드는 하나의 열을 갖는 DataFrame을 Series로 변환
# index_col은 index로 사용할 column을 지정
pokemons = pd.read_csv("C:/python/datas/pokemon.csv", index_col = "Pokemon").squeeze()
# squeez()메서드 사용 권장(squeeze = True 인수 형식은 없어질 예정)

In [35]:
pokemons

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

## 문자로 된 날짜/시간 데이터 파싱하기

In [36]:
google = pd.read_csv("C:/python/datas/google_stocks.csv",
                     parse_dates = ["Date"],
                     # parse_dates 인수에 파싱할 column명을 
                     # 리스트 형태로 전달하면 된다.
                     index_col = "Date"
                     ).squeeze('columns')
google

Date
2004-08-19      49.98
2004-08-20      53.95
2004-08-23      54.50
2004-08-24      52.24
2004-08-25      52.80
               ...
2019-10-21    1246.15
2019-10-22    1242.80
2019-10-23    1259.13
2019-10-24    1260.99
2019-10-25    1265.13
Name: Close, Length: 3824, dtype: float64

## csv 파일에서 필요한 column만 가져오기

In [37]:
# usecols 인수를 활용하면
# csv 파일로부터 pandas가 가져와야 하는 열의 목록 지정 가능

war = pd.read_csv("C:/python/datas/revolutionary_war.csv",
                  parse_dates = ["Start Date"],
                  index_col = "Start Date",
                  usecols = ["Start Date", "State"]
                 ).squeeze('columns')
war

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

# Series의 값 정렬하기 sort_values() 메서드

In [38]:
# Series가 갖는 값을 정렬할 때 사용할 수 있는 메서드가 sort_values()
pokemons.sort_values()

Pokemon
Illumise                Bug
Silcoon                 Bug
Pinsir                  Bug
Burmy                   Bug
Wurmple                 Bug
                  ...
Tirtouga       Water / Rock
Relicanth      Water / Rock
Corsola        Water / Rock
Carracosta     Water / Rock
Empoleon      Water / Steel
Name: Type, Length: 809, dtype: object

In [39]:
# sort_values()는 기본적으로 오름차순이다.
# 만약 내림차순 하고 싶다면 괄호 안에 
# ascending = False를 쓰면 된다.

pokemons.sort_values(ascending = False)

Pokemon
Empoleon      Water / Steel
Corsola        Water / Rock
Relicanth      Water / Rock
Carracosta     Water / Rock
Tirtouga       Water / Rock
                  ...
Kricketune              Bug
Cascoon                 Bug
Scatterbug              Bug
Kricketot               Bug
Grubbin                 Bug
Name: Type, Length: 809, dtype: object

## NaN 값 정렬위치

In [40]:
# na_position이라는 인수에 first, last를 쓰면 된다.

In [41]:
war.sort_values(na_position = "first")

Start Date
1775-09-17         NaN
1775-12-31         NaN
1776-03-03         NaN
1776-03-25         NaN
1776-05-18         NaN
                ...
1781-07-06    Virginia
1781-07-01    Virginia
1781-06-26    Virginia
1781-04-25    Virginia
1783-01-22    Virginia
Name: State, Length: 232, dtype: object

In [42]:
war.sort_values(na_position = "last")

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

## Series의 값중 NaN 배제하기 dropna()

In [43]:
# dropna() 메서드를 통해 직접 NaN 값 배제 가능
war.dropna()

Start Date
1774-09-01     Massachusetts
1774-12-14     New Hampshire
1775-04-19     Massachusetts
1775-04-19     Massachusetts
1775-04-20          Virginia
                   ...
1782-08-15          Virginia
1782-08-19          Virginia
1782-08-26    South Carolina
1782-09-11          Virginia
1783-01-22          Virginia
Name: State, Length: 162, dtype: object

# Series의 index를 기준으로 정렬하기

In [44]:
# values가 아닌 index 기준 정렬
# sort_index() 메서드를 활용

# 기본 정렬은 오름차순 ascending = True 상태
# 내림차순을 원하면 괄호 안에 ascending = False 입력

In [45]:
pokemons.sort_index()

Pokemon
Abomasnow        Grass / Ice
Abra                 Psychic
Absol                   Dark
Accelgor                 Bug
Aegislash      Steel / Ghost
                  ...
Zoroark                 Dark
Zorua                   Dark
Zubat        Poison / Flying
Zweilous       Dark / Dragon
Zygarde      Dragon / Ground
Name: Type, Length: 809, dtype: object

In [46]:
# NaT는 Not a Time의 줄임말

# NaN은 float인 반면, NaT는 Datetime(날짜/시간) 유형의 데이터
war.sort_index()

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1783-01-22         Virginia
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

## NaN 값 정렬위치

In [47]:
# sort_index() 메서드에서도 na_position 인수 사용 가능
war.sort_index(na_position = "first")

Start Date
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
1774-09-01    Massachusetts
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

In [48]:
war.sort_index(na_position = "last")

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1783-01-22         Virginia
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

## Series의 index에 NaT 배제하기

In [49]:
war.index.value_counts()[:11]

1781-04-25    2
1781-05-22    2
1780-08-18    2
1781-09-13    2
1782-03-16    2
1780-05-25    2
1778-09-07    2
1782-01-11    2
1777-08-22    2
1775-04-19    2
1781-04-15    2
Name: Start Date, dtype: int64

In [50]:
# 1. dropna() 메서드 사용
war.loc[war.index.dropna()] # index 중복이 없어야 올바른 결과 보여줌
# 따라서 war index는 value가 2개씩 있는 index가 11개 있으므로 
# dropna에서 걸러지지 않고 남음

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-19    Massachusetts
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 250, dtype: object

In [51]:
# 2. notnull() 메서드 사용
war.loc[war.index.notnull()]
# notnull은 중복을 허용 안함

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 228, dtype: object

# Series nsmallest(), nlargest() 메서드

In [52]:
# nsmallest()는 작은 값을 순서대로 인수의 숫자만큼 구해줌
# nlargest()는 큰 값을 순서대로 인수의 숫자만큼 구해줌

In [53]:
google.nlargest(10)

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
2018-07-25    1263.70
2019-04-25    1263.45
2019-10-24    1260.99
2019-10-23    1259.13
2019-04-24    1256.00
Name: Close, dtype: float64

In [54]:
google.nsmallest(10)

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
2004-08-30    50.81
2004-09-08    50.96
2004-09-09    50.96
2004-08-31    50.99
2004-08-24    52.24
Name: Close, dtype: float64

# Series value_counts() 메서드

In [55]:
# value_counts() 메서드는 Series 내 데이터의 고유한 값의 빈도를 볼 때 활용

pokemons.value_counts()

Normal                65
Water                 61
Grass                 38
Psychic               35
Fire                  30
                      ..
Fire / Psychic         1
Normal / Ground        1
Psychic / Fighting     1
Dark / Ghost           1
Fire / Ghost           1
Name: Type, Length: 159, dtype: int64

In [56]:
# 수치형 데이터를 갖는 Series의 경우 범주를 나눠 값의 빈도를 확인 가능

# bins 인수에 값의 구간을 갖는 리스트를 넘겨주면 된다.

bins = np.linspace(0, 1400, 8)
bins

array([   0.,  200.,  400.,  600.,  800., 1000., 1200., 1400.])

In [57]:
google.value_counts(bins = bins)

(200.0, 400.0]      1568
(-0.001, 200.0]      595
(400.0, 600.0]       575
(1000.0, 1200.0]     406
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1200.0, 1400.0]      93
Name: Close, dtype: int64

In [58]:
# 범주를 정수로 전달하면 그 정수만큼 알아서 구간을 나눈다.
# (단 구간의 크기가 일정치 않을 수 있다.)
# 또 sort 인수에 False 값을 줘서 값을 기준으로 정렬하지 않을 수도 있다.

google.value_counts(bins = 8, sort = False)

(48.581, 204.54]       651
(204.54, 359.26]      1435
(359.26, 513.98]       263
(513.98, 668.7]        466
(668.7, 823.42]        334
(823.42, 978.14]       161
(978.14, 1132.86]      283
(1132.86, 1287.58]     231
Name: Close, dtype: int64