In [1]:
import pandas as pd
import numpy as np

In [2]:
superheros = [
"Batman",
"Superman",
"Spider-Man",
"Iron Man",
"Captain America",
"Wonder Woman"
]
strength_levels = (100, 120, 90, 95,
110, 120)

In [3]:
s1 = pd.Series(strength_levels, index = superheros)
s1

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [4]:
s1.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [5]:
s1.nunique()

5

In [6]:
print(s1.mean())
print(s1.median())
print(s1.max())
print(s1.min())

105.83333333333333
105.0
120
90

In [7]:
dict(s1)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}

In [8]:
pokemons = pd.read_csv("C:/python/datas/pokemon.csv", index_col = "Pokemon").squeeze()
pokemons

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [9]:
pokemons.describe()

count        809
unique       159
top       Normal
freq          65
Name: Type, dtype: object

In [10]:
war = pd.read_csv("C:/python/datas/revolutionary_war.csv",
                  parse_dates = ["Start Date"],
                  index_col = "Start Date",
                  usecols = ["Start Date", "State"]
                 ).squeeze('columns')
war

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

In [11]:
len(war) - war.count(), war.count(), war.nunique()

(70, 162, 17)

In [12]:
google = pd.read_csv("C:/python/datas/google_stocks.csv",
                     parse_dates = ["Date"],
                     # parse_dates 인수에 파싱할 column명을 
                     # 리스트 형태로 전달하면 된다.
                     index_col = "Date"
                     ).squeeze('columns')
google

Date
2004-08-19      49.98
2004-08-20      53.95
2004-08-23      54.50
2004-08-24      52.24
2004-08-25      52.80
               ...
2019-10-21    1246.15
2019-10-22    1242.80
2019-10-23    1259.13
2019-10-24    1260.99
2019-10-25    1265.13
Name: Close, Length: 3824, dtype: float64

In [13]:
google.sort_values().head(10)

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
2004-08-30    50.81
2004-09-08    50.96
2004-09-09    50.96
2004-08-31    50.99
2004-08-24    52.24
Name: Close, dtype: float64

In [14]:
google.sort_values(ascending = False).head(10)

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
2018-07-25    1263.70
2019-04-25    1263.45
2019-10-24    1260.99
2019-10-23    1259.13
2019-04-24    1256.00
Name: Close, dtype: float64

In [15]:
bins = np.linspace(0, 1400, 8)
bins

array([   0.,  200.,  400.,  600.,  800., 1000., 1200., 1400.])

In [16]:
google.value_counts(bins = bins).sort_index()

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: Close, dtype: int64