In [1]:
def plus_ten(var):
    var_plus_ten = var + 10
    return var_plus_ten

In [2]:
print(plus_ten(70))

80

In [3]:
def to_celsius(fahrenheit):
    """이 함수는 화씨를 섭씨로 바꿔주는 함수이다."""
    celsius = (fahrenheit - 32) * 5/9
    return celsius


def to_fahrenheit(celsius):
    """이 함수는 섭씨를 화씨로 바꿔주는 함수이다."""
    fahrenheit = celsius * 9/5 + 32
    return fahrenheit

In [4]:
print("반환 값:",to_celsius(70))

반환 값: 21.11111111111111

In [5]:
print("반환 값:",to_fahrenheit(70))

반환 값: 158.0

In [6]:
def odd_even(number):
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환"""
    if type(number) != int or number < 1:
        return
    else:
        if number % 2 == 0:
            number = "짝수"
            return number
        if number % 2 == 1:
            number = "홀수"
            return number

In [7]:
print(odd_even.__doc__) # doc string 출력할 때 함수 ()표현을 안 쓴다.
print(odd_even(10))
print(odd_even(9))
print(odd_even("가"))

number가 짝수면 "짝수", 홀수면 "홀수" 반환
짝수
홀수
None

In [8]:
# 간결한 코드
def odd_even(number):
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환"""
    if type(number) != int or number < 1:
        return
    else:
        return "짝수"*(number%2 == 0) or "홀수" # number%2 == 0은 bool 결과가 나온다.
                                               # True는 1, False는 0으로 출력
                                               # 짝수라면 bool이 True가 나오므로 "짝수" 출력,
                                               # 홀수라면 bool이 False이므로 우측 "홀수" 출력

In [9]:
print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even("가"))

number가 짝수면 "짝수", 홀수면 "홀수" 반환
짝수
홀수
None

In [10]:
a = '12345678' # 숫자열이 전부 숫자
print(a.isdigit())
print(a.isdecimal())
print(a.isnumeric())

True
True
True

In [11]:
a = '3²' # 지수같은 경우는 숫자모양의 특수문자
print(a.isdigit())
print(a.isdecimal())
print(a.isnumeric())

True
False
True

In [12]:
# isdigit() 함수는 단일 글자가 '숫자' 모양으로 생겼으면 무조건 True를 반환하는 함수. 
# 즉, 숫자처럼 생긴 '모든 글자'를 숫자로 친다.

# isdecimal() 함수는 주어진 문자열이 int형으로 변환이 가능한지 알아내는 함수.
# 즉, 특수문자 중 숫자모양을 숫자로 치지않는다.

# 숫자값 표현에 해당하는 문자열까지 인정한다. 
#제곱근 및 분수, 거듭제곱 특수문자도 isnumeric() 함수는 True를 반환하는 것을 알 수 있다.

In [13]:
def check_leap_year(year):
    """year가 평년인지 윤년인지 판단하는 함수이다."""
    if (year % 100 == 0 and year % 400 != 0) or year % 4 != 0:
        return "평년"
    else:
        return "윤년"

In [14]:
check_leap_year(2004)

'윤년'

In [15]:
check_leap_year(2000)

'윤년'

In [16]:
check_leap_year(1900)

'평년'

In [17]:
def days(month):
    if month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12:
        return 31
    elif month == 4 or month == 6 or month == 9 or month == 11:
        return 30
    else: return 28

print(days(11))
print(days(2))
print(days(1))

30
28
31

In [18]:
def days(month):
    if month in (1,3,5,7,8,10,12):
        return 31
    elif month in (4,6,9,11):
        return 30
    else: return 28

print(days(11))
print(days(2))
print(days(1))

30
28
31

In [19]:
def days(year, month):
    """year가 평년인지 윤년인지 판단하고 month가 몇일인지 구해주는 함수이다."""
    if (year % 100 == 0 and year % 400 != 0) or year % 4 != 0:
        if month in (1,3,5,7,8,10,12):
            return 31
        elif month in (4,6,9,11):
            return 30
        else:
            return 28
    else:
        if month in (1,3,5,7,8,10,12):
            return 31
        elif month in (4,6,9,11):
            return 30
        else: return 29
    
print(days(1900, 11))
print(days(2004, 10))
print(days(1900, 2))
print(days(2000, 2))

30
31
28
29

In [20]:
def days(year, month):
    if month in (1,3,5,7,8,10,12):
        return 31
    elif month in (4,6,9,11):
        return 30
    elif (year % 100 == 0 and year % 400 != 0) or year % 4 != 0:
        return 28
    else:
        return 29
        
print(days(1900, 11))
print(days(2004, 10))
print(days(1900, 2))
print(days(2000, 2))

30
31
28
29